.container {
  max-width: 1100px;
  margin: 0 auto;
}
.grid-container {
  display: grid;
  grid-template-columns: 40% 50%;
  grid-column-gap: 10%;
}
.details-title {
  text-align: center;
}
.details-info {
  font-family: "Roboto";
  text-align: justify;
}
@media screen and (max-width: 425px) {
  .grid-container {
    display: block;
  }
  .details-title {
    font-size: 1.5rem;
  }
  .left-col {
    text-align: center;
  }
  .btn {
    margin: 10px auto;
  }
}
