.modal-container {
  position: relative;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 25%;
  text-align: center;
  border-radius: 5px;
}
.modal-background {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
.close-icon {
  position: absolute;
  top: 0;
  right: 1%;
  font-size: 20px;
  cursor: pointer;
}
.modal-img {
  width: 85%;
}
.btn-cart,
.btn-back {
  border: 1px solid #888;
  outline: none;
  transition-duration: 0.5s;
  margin-top: 5px;
}
.btn-cart {
  margin-right: 10px;
}
.btn-cart:hover,
.btn-back:hover {
  background: rgb(192, 186, 186);
}
