body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  font-family: sans-serif;
  background: #f3f3f3;
  font-family: "Lato", "Roboto", sans-serif;
}
.btn {
  padding: 10px;
  background: transparent;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
}
.no-cursor {
  cursor: text;
}
.grey {
  color: rgb(153, 153, 153);
}
